//  div,img{
//    border: 1px solid #000;}

.container_fluid2{
    max-width: 1366px;
    margin:0 auto;
    position: relative;}

header{
    display: flex;
    justify-content: space-between;
    top: 0;
    z-index: 10;}

nav{
    width: 90%;
    display: flex;
    padding: 30px 84.5px;
    justify-content: space-between;
    align-items: center;
    @include iphone{max-width: 390px;
        height: 72px;
        padding: 2px 8px;
        justify-content: space-around;
        background: #fff;
        border-bottom: #ffd153 2px solid;}}

.logo{
    display: flex;
    justify-content: space-between;
    width: 1250px;
    height: 40px;
    img{width: 100%;
        height: 100%;}
    @include iphone{width: 375px;
        height: 24px;}
    button{
        font-size: 16px;
        font-weight: 300;
        padding: 8px 20px;
        background-color: #ff5d50;
        color: #fff;
        border: none;
        border-radius: 22px;
        @include iphone{width: 128px;
        height: 40px;
        font-size: 16px;}}
}

.Top{
    @include iphone{width: 50px;
        height: 50px;
        left: 75%;
        font-size: 13px;}
}

main{
    flex-direction: column;
    margin-top: 0 auto;
}

.price-bg{
    background:#F7F9FD 0% 0% no-repeat padding-box;
    border-radius: 0px 0px 0px 300px;
    width: 100%;
    height: 470px;
    position: absolute;
    top: 0%;
    z-index: -5;
    @include iphone{    top: 0;
        max-width: 420px;
        height: 560px;
        border-radius: 0px 0px 0px 200px;
    }
}

.price-banner{
    display: flex;
    justify-content: space-between;
    padding-top: 150px;
}

.banner-text{
    width: 30%;
    height: 70px;
    margin-top: 50px;
    margin-left: 139px;
    text-align: left;
    h2{font-size: 48px;
        font-weight: 500;
        margin-bottom: 24px;}
    p{font-size: 16px;}
    @include iphone{width: 100%;
        margin: 20px;}
}

.banner-bg{
    position: absolute;
    margin: 0 auto;
    right: 0;
    top: 0;
    z-index: -4;
    @include iphone{display: none;}
}

.banner-bg-sm{
    display: none;
    @include iphone{    
        display: block;
        position: absolute;
        left: 0px;
        top: 70px;
        width: 375px;
        height: 495px;
        z-index: -4;}
 }

 .ball-yellow{
    background: url(chatTalker_images/ball03.svg);
    background-size: cover;
    position: absolute;
    top: 820px;
    left: 0;
    width: 94px;
    height: 361px;
    transform: scaleX(-1);
    @include iphone{top: 1360px;
        left: -108px;
        width: 204px;
        height: 204px;
        z-index: -50;}
 }

 section{
    display: block;
 }

 .price-plan{
    padding-top: 40%;
    max-width: 70%; 
    margin: 0 auto;
    h3{text-align: center;
        font-size: 32px;
        font-weight: 500;
        margin-bottom: 48px;}
    @include iphone{max-width: 100%;
        padding-top: 120%;}
 }

 .users{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    margin-bottom: 54px;
    @include iphone{
        flex-direction: row;
        gap:10px;
        margin: 0px 5px 32px 5px;}
 }

 .users button{
    background-color: #fff;
    color: #56c4c5;
    padding: 12px 32px;
    font-size: 18px;
    font-weight: 300;
    border-radius: 27px;
    border: 1px solid #56c4c5; 
    @include iphone{
        padding: 8px 6px;
        font-weight: 80;
        font-size: 8px;}
 }

 .active{
    background-color: #56c4c5!important;
    color: #fff!important;
 }

 .plan-container{
    display: flex;
    max-width: 90%;
    margin: 0 auto;
    justify-content: space-around; 
    text-align: center;
    gap:16px;
    h4{ margin: 33px 21px;
        font-size: 29px;}
    button{background-color: #56c4c5;
        color: #fff;
        padding: 12px 32px;
        font-size: 18px;
        font-weight: 300;
        border-radius: 27px;
        border: 1px solid #56c4c5;} 
    @include iphone{flex-wrap: wrap;}
 }

 .plan-version{
    width: 60%;
    box-shadow: 0px 2px 10px rgb(0 0 0 / 8%);
    border-radius: 12px;
    position: relative;
    background-color: #fff;
    h3{ padding-top: 15px;
        padding-bottom: 16px;
        border-bottom: 1px solid #dddddd;
        margin-bottom: 32px;
        font-size: 24px;}
    li{ margin-bottom: 16px;}
    @include iphone {width: 100%;}
 }

 .plan-content{
    padding: 10px 20px 32px 20px;
    p{text-align: center;
        line-height: 1.6rem;
        width: 75%;
        margin: 0 auto 32px auto;}
    @include iphone {
        gap:30px;
        padding: 10px 16px 28px 16px;}
 }

 .cost{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
 }

 .info-card{
    width: 80%;
    height: 80px;
    background: #f5f5f5 0% 0% no-repeat padding-box;
    border-radius: 12px;
    text-align: center;
    padding: 0 2px;
    font-size: 32px;
    padding-bottom: 24px;
    span{font-size: 12px;
        margin-left: 8px;}
    p{ font-size: 12px;
       margin-bottom: 6px;
       padding-top: 16px;}
 }

 .info-card-text{
    color: #56c4c5
 }

aside{
    display: block;
    margin-top: 10%;
}
.questions{
    max-width: 70%;
    margin: 0 auto;
    h3{text-align: center;
        font-size: 32px;
        font-weight: 500;
        margin-bottom: 48px;}
    @include iphone{max-width: 90%;
        margin-top: 60px;}
}

.question{
    display: block;
}

.question-item{
    display: block;
    button{    
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 10px rgb(0 0 0 / 8%);
    border-radius: 12px;
    border: none;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 16px 32px;
    cursor: pointer;
    margin-bottom: 16px;
    position: relative;
    text-align: center;
    font: normal normal normal 18px/28px Noto Sans TC;}
    ::after{content: url(chatTalker_images/icon_plus.svg);
    position: absolute;
    right: 32px;}
    p{@include iphone{font: normal normal normal 16px/24px Noto Sans TC;}}
}   
.question-list{ 
    display: block;
    button{  
    flex-direction: column;  
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 10px rgb(0 0 0 / 8%);
    border-radius: 12px;
    border: none;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 16px 32px;
    cursor: pointer;
    margin-bottom: 16px;
    position: relative;
    text-align: center;
    font: normal normal normal 18px/28px Noto Sans TC;}
    p{@include iphone{font: normal normal normal 16px/24px Noto Sans TC;}}
    img{
    position: absolute;
    text-align: left;
    top: 20%;
    right: 32px;
    @include iphone{top: 25px;}}
    h4{
    color: #747474;
    text-align: left;
    padding: 10px;
    font: normal normal normal 16px/32px Noto Sans TC;
    @include iphone{font: normal normal normal 14px/24px Noto Sans TC;}}
}

footer{
    display: block;
    p{
      padding-top: 5%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #f5f5f5;
      padding: 16px 0;
      font: normal normal normal 16px/24px Noto Sans TC;}
}